.snowflakes-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #d90429;
	background-image: url('../images/snows.svg');
	background-size: contain;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
}


.wrapper-layout {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

.layout {
	min-width: 600px;
	margin: 20px;
	padding: 40px 20px;
	background: #73ba9b;
	display: block;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}



.info-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #f5f0ec;
	text-align: center;
	width: 18vw;
	border-radius: 3px;
	float: left;
	padding: 4px 0;
	margin: 5px;
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
}

dt,
dd {
	margin: 0;
	padding: 0;
}

dt {
	font-size: 36px;
	font-weight: bold;
}

dd {
	font-size: 18px;
}


.icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 2.5px;
	color: black;
	border-style: solid;
	margin: 0px 0px 0px 5px;
}


.icons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: flex;
	flex-direction: wrow;
	justify-content: center;
	align-items: center;
	/* border-style: solid;
	border-color: #d90429; */
}


/* All Page except Home  */

.green-background {
	background-color: #73ba9b;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 70vw;
	height: 30vh;
	padding: 40px 20px;
	margin: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}

.user-input {
	width: 60vw;
	padding: 10px;
	margin-top: 50px;
	font-size: 3vw;
	background-color: #f6f6f6;
	color: #0d0d0d;
	text-align: center;
	text-decoration: none;
	border: 2px solid #f6f6f6;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.title {
	font-size: 6.5vh;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.my-swal-text-size {
	font-size: 2vw;
}



@media (max-width: 700px) {

	.layout {
		min-width: 300px;
	}

	.green-background {
		height: 30vh;
	}

	.title {
		margin-bottom: 20px;
	}

	.user-input {
		font-size: 6vw;
		margin-top: 0px;
	}

	.info-block {
		width: 45vw;
	}

	dt {
		font-size: 28px;
	}

	dd {
		font-size: 12px;
	}

	.my-swal-text-size {
		font-size: 6vw;
	}
}